## PART 1 : DATABASE SETUP AND DATA MODELLING

 Task 1.1 create database and collection

In [5]:
# EduHub MongoDB Backend Builder
from pymongo import MongoClient
from faker import Faker
from datetime import datetime, timedelta
import random
import pandas as pd
from bson import ObjectId
import pprint as pp

# Replace with your actual MongoDB Atlas connection string
connection_string = "mongodb+srv://siddiqalawan:QHTmw1FYbuH4G9BT@alt-cluster.jjgozve.mongodb.net/?retryWrites=true&w=majority&appName=Alt-cluster"

# Step 1: Create a client to connect to your MongoDB Atlas cluster
client = MongoClient(connection_string)

# Step 2: Create  the 'eduhub_db' database
db = client['eduhub_db']
fake = Faker()

print("✅ Connected to MongoDB and 'eduhub_db' is ready.")

✅ Connected to MongoDB and 'eduhub_db' is ready.

In [6]:
# create collections
users_col = db["users"]
courses_col = db["courses"]
enrollments_col = db["enrollments"]
lessons_col = db["lessons"]
assignments_col = db["assignments"]
submissions_col = db["submissions"]

## Task 1.2 Design Document Schema

SAMPLE SCHEMA: users_schema

In [8]:
#Preselected values
roles = ["student", "instructor"]

bio = [
    "Tech enthusiast with a strong passion for building real-world applications.",
    "Aspiring developer eager to explore full-stack development and AI.",
    "Loves teaching complex topics in simple and practical ways.",
    "Data-driven thinker who enjoys uncovering insights and trends.",
    "Focused on helping others launch successful tech careers.",
    "Building the future with clean code and clear documentation.",
    "Experienced instructor dedicated to mentoring the next generation of engineers."
]


avatar = [
    "https://api.dicebear.com/6.x/thumbs/svg?seed=Blaze",
    "https://api.dicebear.com/6.x/thumbs/svg?seed=Circuit",
    "https://api.dicebear.com/6.x/thumbs/svg?seed=Juno",
    "https://api.dicebear.com/6.x/thumbs/svg?seed=Byte",
    "https://api.dicebear.com/6.x/thumbs/svg?seed=Cloud",
    "https://api.dicebear.com/6.x/thumbs/svg?seed=Neo",
    "https://api.dicebear.com/6.x/thumbs/svg?seed=Dash",
    "https://api.dicebear.com/6.x/thumbs/svg?seed=Lyra",
    "https://api.dicebear.com/6.x/thumbs/svg?seed=EchoX",
    "https://api.dicebear.com/6.x/thumbs/svg?seed=Ziggy"
]

skills = [
    "Python", "SQL", "Data Engineering", "ETL", "JavaScript",
    "APIs", "Kubernetes", "Machine Learning", "MongoDB", "Cloud Computing"
]

# Create user_schema
user_schema = []

for i in range(1, 101):
    r_user = {
        "_id" : ObjectId(),
        "user_id" : f"U{str(i).zfill(3)}",
        "email" : fake.email(),
        "firstName" : fake.first_name(),
        "lastName" : fake.last_name(),
        "role" : random.choice(roles),
        "dateJoined" : fake.date_time_between(start_date="-1y", end_date="now"),
        "profile" : {
            "bio" : random.choice(bio),
            "avatar" : random.choice(avatar),
            "skills" : random.sample(skills, k=3)
        },

        "is_active" : random.choice([True, False])
    }
    user_schema.append(r_user)

SAMPLE SCHEMA: course_schema

In [10]:
# Preselected options
categories = ["Data Engineering", "Web Development", "Cloud Computing", "AI", "DevOps"]

levels = ["beginner", "intermediate", "advanced"]

tags = [
    "practical-learning", "job-focused", "skills-oriented", "industry-relevant", "certificate-included",
    "expert-guided", "engaging-format", "step-by-step-videos", "resource-pack",
    "includes-quizzes", "task-based", "unlimited-access", "peer-network",
    "career-coaching", "easy-to-start"
]

descriptions = [
    "Build efficient and reliable data pipelines using industry-standard tools and workflows.",
    "Dive into front-end development with practical lessons in HTML, CSS, and JavaScript.",
    "Launch applications in the cloud with AWS, Docker containers, and Kubernetes orchestration.",
    "Apply machine learning techniques through guided Python coding challenges and projects.",
    "Learn how to query, organize, and manage data using SQL and relational databases.",
    "Gain hands-on experience solving data pipeline problems in real-world business contexts.",
    "Automate deployments and monitor systems with DevOps principles and modern tooling.",
    "Design and implement scalable APIs and microservices using Flask and Django frameworks.",
    "Work with massive datasets using big data platforms like Apache Spark and Hadoop.",
    "Jumpstart your journey into AI by building deep learning models with neural networks."
]


titles = [
    "Clean Code and Refactoring",
    "Big Data Processing with Spark",
    "MongoDB for Developers",
    "Deploying Applications with Docker",
    "Git & GitHub for Collaboration",
    "Python for Beginners",
    "Kubernetes for Developers",
    "Unit Testing in Python",
    "Building REST APIs with FastAPI",
    "Data Visualization with Seaborn",
    "Machine Learning with scikit-learn",
    "AWS Cloud Fundamentals",
    "Computer Vision with OpenCV",
    "Deep Learning with TensorFlow",
    "Data Engineering with Python"
]


# Placeholder instructor user_ids (to be updated with actual IDs later)
instructor_ids = [f"U{str(i).zfill(3)}" for i in range(1, 41)]

# Generate courses
course_schema = []

for i in range(1, 101):
    course = {
        "_id": ObjectId(),
        "course_id": f"C{str(i).zfill(3)}",
        "title": random.choice(titles),
        "description": random.choice(descriptions),
        "instructor_id": random.choice(instructor_ids),
        "category": random.choice(categories),
        "level": random.choice(levels),
        "duration": random.randint(5, 60),  # hours
        "price": random.choice([0, 50, 100, 150, 200, 250, 300]), 
        "tags": random.sample(tags, k=3),
        "created_at": fake.date_time_between(start_date="-6M", end_date="now"),
        "updated_at": datetime.now(),
        "is_published": random.choice([True, False])
    }

    course_schema.append(course)

## PART 2: DATA POPULATION

TASK 2.1: Insert Sample Data

USER - COLLECTION

In [19]:
# INSERT 20 USERS USING RANDOM DATA (mix of students and instructors)

users_schema = []
for i in range(1, 21):
    user = {
        "_id": ObjectId(),
        "user_id": f"U{str(i).zfill(3)}",
        "email": fake.email(),
        "first_name": fake.first_name(),
        "last_name": fake.last_name(),
        "date_joined": fake.date_time_between(start_date="-1y", end_date="now"),
        "role": random.choice(roles),
        "profile": {
            "bio": random.choice(bio),
            "avatar": random.choice(avatar),
            "skills": random.sample(skills, k=3)
        },
        "is_active": random.choice([True, False])
    }
    users_schema.append(user)


users_col.insert_many(users_schema)

print(" Inserted 20 users successfully.")

 Inserted 20 users successfully.

The above code inserts 20 users  using  random data which is a mixture of students and instructors.
 This loop runs 20 times (from 1 to 20), once for each user and each user gets a unique MongoDB ObjectId which acts as a primary key. Each user is  then assigned a custom user ID and also numbers are padded to 3 digits. Using Faker library, a fake but realistic email and  name for each user is generated. Random join date is within the past year.The role is then picked randomly from the list and a nested profile object is created. 

Randomly sets whether the user is active or not, simulating real scenarios where some users may be inactive.
After creating the user dictionary, it is then added to the users_schema list.
All the 20 users are inserted at once into the users_col instead of one by one whch is more efficient.

COURSES COLLECTION

In [20]:
#INSERT 8 COURSES ACROSS DIFFERENT CATEGORIES

course_schema = []

for i in range(1, 9):
    course = {
        "_id": ObjectId(),
        "course_id": f"C{str(i).zfill(3)}",
        "title": random.choice(titles),
        "description": random.choice(descriptions),
        "instructor_id": random.choice([user["user_id"] for user in users_schema if user["role"] == "instructor"]),
        "category": random.choice(categories),
        "level": random.choice(levels),
        "duration": random.randint(5, 60),
        "price": random.choice([0, 50, 100, 150, 200, 250, 300]),
        "tags": random.sample(tags, k=3),
        "created_at": fake.date_time_between(start_date="-6M", end_date="now"),
        "updated_at": datetime.now(),
        "is_published": random.choice([True, False])
    }
    course_schema.append(course)

# Clear and insert
courses_col.delete_many({})
courses_col.insert_many(course_schema)

print(" Inserted 8 courses successfully.")

 Inserted 8 courses successfully.

ENROLLMENTS - COLLECTION

In [21]:
#INSERT 15 ENROLLMENTS

enrollment_schema = []

for i in range(1, 16):
    student = random.choice([user for user in users_schema if user["role"] == "student"])
    course = random.choice(course_schema)

    enrollment = {
        "_id": ObjectId(),
        "enrollment_id": f"E{str(i).zfill(3)}",
        "user_id": student["user_id"],
        "course_id": course["course_id"],
        "enrolled_on": fake.date_time_between(start_date=course["created_at"], end_date="now"),
        "progress": random.randint(0, 100),
        "completed": random.choice([True, False])
    }

    enrollment_schema.append(enrollment)

# Clear and insert
enrollments_col.delete_many({})
enrollments_col.insert_many(enrollment_schema)

print("Inserted 15 enrollments successfully.")

Inserted 15 enrollments successfully.

LESSONS - COLLECTION

In [22]:
#INSERT 25 LESSONS

lesson_schema = []

for i in range(1, 26):
    course = random.choice(course_schema)

    lesson = {
        "_id": ObjectId(),
        "lesson_id": f"L{str(i).zfill(3)}",
        "course_id": course["course_id"],
        "title": f"Lesson {i}: {random.choice(titles)}",
        "content": fake.paragraph(nb_sentences=5),
        "video_url": f"https://example.com/video/{i}",
        "resources": [f"https://resource.com/{fake.word()}" for _ in range(2)],
        "order": i,
        "created_at": datetime.now()
    }

    lesson_schema.append(lesson)

# Clear and insert
lessons_col.delete_many({})
lessons_col.insert_many(lesson_schema)

print(" Inserted 25 lessons successfully.")

 Inserted 25 lessons successfully.

ASSIGNMENTS - COLLECTION

In [23]:
#INSERT 10 ASSIGNMENTS
 
assignment_schema = []

for i in range(1, 11):
    lesson = random.choice(lesson_schema)
    
    assignment = {
        "_id": ObjectId(),
        "assignment_id": f"A{str(i).zfill(3)}",
        "course_id": lesson["course_id"],
        "lesson_id": lesson["lesson_id"],
        "title": f"Assignment {i}: {random.choice(titles)}",
        "description": fake.paragraph(nb_sentences=3),
        "due_date": datetime.now() + timedelta(days=random.randint(3, 14)),
        "max_score": 100,
        "created_at": datetime.now()
    }

    assignment_schema.append(assignment)

# Clear and insert
assignments_col.delete_many({})
assignments_col.insert_many(assignment_schema)

print(" Inserted 10 assignment successfully.")

 Inserted 10 assignment successfully.

SUBMISSION - COLLECTION

In [24]:
#Insert 12 submissions

submission_schema = []

for i in range(1, 13):
    assignment = random.choice(assignment_schema)
    student = random.choice([user for user in users_schema if user["role"] == "student"])

    submission = {
        "_id": ObjectId(),
        "submission_id": f"S{str(i).zfill(3)}",
        "assignment_id": assignment["assignment_id"],
        "user_id": student["user_id"],
        "submitted_on": datetime.now() - timedelta(days=random.randint(0, 5)),
        "content": fake.paragraph(nb_sentences=4),
        "score": random.randint(50, 100),
        "graded": random.choice([True, False])
    }

    submission_schema.append(submission)

# Clear and insert
submissions_col.delete_many({})
submissions_col.insert_many(submission_schema)

print(" Inserted 12 submissions successfully.")

 Inserted 12 submissions successfully.

TASK 2.2 DATA RELATIONSHIPS

Proper referential relationships between collections were established using appropriate field reference as expalined below;

Users Collection: user_id was referenced in courses, submissions, and enrollments and role determines whether the user is a student or instructor.


Courses Collection: instructor_id references user_id from the users collection (only instructors) and course_id referenced in lessons, assignments, and enrollments.


Lessons Collection: course_id referencs the courses collection and lesson_id referenced in assignments.


Assignments Collection: course_id references the courses collection, lesson_id references the lessons collection and assignment_id referenced in submissions.



Submissions Collection: assignment_id references the assignments collection and user_id and references a student from the users collection.


Enrollments Collection: user_id references a student from the users collection and course_id references the courses collection.

# PART 3: BASIC CRUD OPERATIONS

TASK 3.1 : Create Operations using pymongo and write python code to perform the following operations

####  1 : Add a new student user

In [25]:
#add new student user


new_user = {
    "_id": ObjectId(),
    "user_id": "U600",
    "email": "siddiqalawan@gmail.com",
    "first_name": "Siddiqa",
    "last_name": "Lawan",
    "date_joined": datetime.now(),
    "role": "student",
    "profile": {
        "bio": "Excited to explore the world of data.",
        "avatar": "https://api.dicebear.com/6.x/thumbs/svg?seed=zimb",
        "skills": ["Python", "MongoDB", "SQL"]
    },
    "is_active": True
}

# Insert user
users_col.insert_one(new_user)

print(" New user added successfully.")

 New user added successfully.

In [26]:
# confirm the user

user = users_col.find_one({"user_id": "U600"})

if user:
    print("User found:")
    pp.pprint(user)
else:
    print(" User not found.")

User found:
{'_id': ObjectId('684ad8209d7952d67655645d'),
 'date_joined': datetime.datetime(2025, 6, 12, 14, 37, 36, 817000),
 'email': 'siddiqalawan@gmail.com',
 'first_name': 'Siddiqa',
 'is_active': True,
 'last_name': 'Lawan',
 'profile': {'avatar': 'https://api.dicebear.com/6.x/thumbs/svg?seed=zimb',
             'bio': 'Excited to explore the world of data.',
             'skills': ['Python', 'MongoDB', 'SQL']},
 'role': 'student',
 'user_id': 'U600'}

#### 2: Create a new course

In [ ]:
# new course(instructor must be an existing one)


new_course = {
    "_id": ObjectId(),
    "course_id": "C701",
    "title": "Machine Learning Foundation",
    "description": "Master the foundation of Ml, Model development and deployment.",
    "instructor_id": "U007",  
    "category": "Machine Learning",
    "level": "beginner",
    "duration": 40,
    "price": 150,
    "tags": ["project-based", "career-ready", "interactive"],
    "created_at": datetime.now(),
    "updated_at": datetime.now(),
    "is_published": True
}

# Insert course
courses_col.insert_one(new_course)

print("New course added successfully.")

New course added successfully.

In [28]:
#confirmation
course = courses_col.find_one({"course_id": "C701"})

if course:
    print("Course found:")
    pp.pprint(course)
else:
    print("Course not found.")

Course found:
{'_id': ObjectId('684adb049d7952d67655645e'),
 'category': 'Machine Learning',
 'course_id': 'C701',
 'created_at': datetime.datetime(2025, 6, 12, 14, 49, 56, 312000),
 'description': 'Master the foundation of Ml, Model development and '
                'deployment.',
 'duration': 40,
 'instructor_id': 'U007',
 'is_published': True,
 'level': 'beginner',
 'price': 150,
 'tags': ['project-based', 'career-ready', 'interactive'],
 'title': 'Machine Learning Foundation',
 'updated_at': datetime.datetime(2025, 6, 12, 14, 49, 56, 312000)}

#### 3: Enroll a student in a course

In [32]:
#Enroll a student(must be an existing student)


# Example: Enroll user U999 into course C999
new_enrollment = {
    "_id": ObjectId(),
    "enrollment_id": "E701",
    "user_id": "U600",          
    "course_id": "C701",
    "enrolled_on": datetime.now(),
    "progress": 0,
    "is_active": True
}

# Insert enrollment
enrollments_col.insert_one(new_enrollment)

print(" Student enrolled successfully.")

 Student enrolled successfully.

In [ ]:
#confirm

enrollment = enrollments_col.find_one({"enrollment_id": "E701"})

if enrollment:
    print(" Enrollment found:")
    pp.pprint(enrollment)
else:
    print(" Enrollment not found.")

 Enrollment found:
{'_id': ObjectId('684add0d9d7952d676556461'),
 'course_id': 'C701',
 'enrolled_on': datetime.datetime(2025, 6, 12, 14, 58, 37, 739000),
 'enrollment_id': 'E701',
 'is_active': True,
 'progress': 0,
 'user_id': 'U600'}

#### 4: Add a new lesson to an existing course

In [34]:
#Add a new lesson (courseid must be existing already)


new_lesson = {
    "_id": ObjectId(),
    "lesson_id": "L001",
    "course_id": "C001",  
    "title": random.choice(titles),  
    "content": "This lesson introduces the fundamentals of data engineering.",
    "duration": random.randint(10, 30),  
    "resources": [
        "https://example.com/resource1",
        "https://example.com/resource2"
    ],
    "created_at": datetime.now()
}

# Insert lesson
lessons_col.insert_one(new_lesson)

print(" Lesson added successfully.")

 Lesson added successfully.

In [ ]:
#Confirm


lesson = lessons_col.find_one({"lesson_id": "L001"})

if lesson:
    print(" Lesson found:")
    pp.pprint(lesson)
else:
    print(" Lesson not found.")

 Lesson found:
{'_id': ObjectId('684ad5a09d7952d67655642e'),
 'content': 'Article may TV worry. Direction put indicate fire this president. '
            'Strategy street Democrat purpose agree decide sing. Receive under '
            'room space thing. Born send talk keep right federal consider. '
            'Available instead like require team understand.',
 'course_id': 'C007',
 'created_at': datetime.datetime(2025, 6, 12, 14, 26, 56, 101000),
 'lesson_id': 'L001',
 'order': 1,
 'resources': ['https://resource.com/piece', 'https://resource.com/major'],
 'title': 'Lesson 1: Machine Learning with scikit-learn',
 'video_url': 'https://example.com/video/1'}

TASK 3.2 : READ OPERATIONS

WRITE PYTHON QUERIES TO PERFORM THE FOLOWING OPERATIONS

#### 1: Find all active students

In [36]:
#Find all active students 

active_students = users_col.find({
    "role": "student",
    "is_active": True
})

print("Active Students:")
for student in active_students:
    print(f"{student['user_id']} - {student['first_name']} {student['last_name']}")

Active Students:
U004 - Luis Maxwell
U011 - Michelle Jones
U018 - Thomas Sanchez
U013 - Hailey Sanchez
U600 - Siddiqa Lawan

#### 2: Retrieve course details with instructor information

In [38]:
#Retrieve course details with instructors information 

pipeline = [
    {
        "$match": {"course_id": "C004"}
    },
    {
        "$lookup": {
            "from": "users",
            "localField": "instructor_id",
            "foreignField": "user_id",
            "as": "instructor_info"
        }
    },
    {
        "$unwind": "$instructor_info"
    },
    {
        "$project": {
            "_id": 0,
            "course_id": 1,
            "title": 1,
            "category": 1,
            "level": 1,
            "price": 1,
            "instructor": {
                "full_name": {
                    "$concat": [
                        "$instructor_info.first_name",
                        " ",
                        "$instructor_info.last_name"
                    ]
                },
                "email": "$instructor_info.email",
                "skills": "$instructor_info.profile.skills"
            }
        }
    }
]

result = list(courses_col.aggregate(pipeline))

if result:
    print(" Course with Instructor Info:")
    pp.pprint(result[0])
else:
    print("No course found.")

 Course with Instructor Info:
{'category': 'AI',
 'course_id': 'C004',
 'instructor': {'email': 'carterbrooke@example.net',
                'full_name': 'Sharon Kent',
                'skills': ['MongoDB', 'JavaScript', 'ETL']},
 'level': 'beginner',
 'price': 300,
 'title': 'Kubernetes for Developers'}

#### 3: Get all courses in a specific category

In [41]:
#Get all courses in a specific category 


category_name = "Machine Learning"

courses = courses_col.find({"category": category_name})

print(f" Courses in category: {category_name}")
for course in courses:
    print(f"{course['course_id']} - {course['title']}")

 Courses in category: Machine Learning
C701 - Machine Learning Foundation

#### 4: Find students enrolled in a specific course

In [42]:
#Find students enrolled in a specific course 


pipeline = [
    {
        "$match": {"course_id": "C001"}
    },
    {
        "$lookup": {
            "from": "users",
            "localField": "user_id",
            "foreignField": "user_id",
            "as": "student_info"
        }
    },
    {
        "$unwind": "$student_info"
    },
    {
        "$match": {"student_info.role": "student"}
    },
    {
        "$project": {
            "_id": 0,
            "enrollment_id": 1,
            "user_id": 1,
            "course_id": 1,
            "student_name": {
                "$concat": [
                    "$student_info.first_name", " ", "$student_info.last_name"
                ]
            },
            "email": "$student_info.email",
            "enrolled_on": 1
        }
    }
]

students = list(enrollments_col.aggregate(pipeline))

if students:
    print(" Enrolled Students in Course C004:")
    for s in students:
        pp.pprint(s)
else:
    print(" No students enrolled in this course.")

 Enrolled Students in Course C004:
{'course_id': 'C001',
 'email': 'brittany18@example.net',
 'enrolled_on': datetime.datetime(2025, 6, 1, 9, 17, 6),
 'enrollment_id': 'E001',
 'student_name': 'Heather Herrera',
 'user_id': 'U013'}
{'course_id': 'C001',
 'email': 'haley50@example.net',
 'enrolled_on': datetime.datetime(2025, 6, 1, 9, 17, 6),
 'enrollment_id': 'E001',
 'student_name': 'Hailey Sanchez',
 'user_id': 'U013'}
{'course_id': 'C001',
 'email': 'brittany18@example.net',
 'enrolled_on': datetime.datetime(2025, 5, 29, 6, 43, 39),
 'enrollment_id': 'E006',
 'student_name': 'Heather Herrera',
 'user_id': 'U013'}
{'course_id': 'C001',
 'email': 'haley50@example.net',
 'enrolled_on': datetime.datetime(2025, 5, 29, 6, 43, 39),
 'enrollment_id': 'E006',
 'student_name': 'Hailey Sanchez',
 'user_id': 'U013'}
{'course_id': 'C001',
 'email': 'brittany18@example.net',
 'enrolled_on': datetime.datetime(2025, 5, 26, 9, 35, 5),
 'enrollment_id': 'E015',
 'student_name': 'Heather Herrera',
 'user_id': 'U013'}
{'course_id': 'C001',
 'email': 'haley50@example.net',
 'enrolled_on': datetime.datetime(2025, 5, 26, 9, 35, 5),
 'enrollment_id': 'E015',
 'student_name': 'Hailey Sanchez',
 'user_id': 'U013'}

#### 5: Search courses by title (case_insensitive, partial match)

In [43]:
#match course by title 


search_term = "AWS Cloud Fundamentals" 

courses = courses_col.find({
    "title": {"$regex": search_term, "$options": "i"}
})

print(f" Courses matching '{search_term}'")
for course in courses:
    print(f"{course['course_id']} - {course['title']}")

 Courses matching 'AWS Cloud Fundamentals'

#### TASK 3.3 : UPDATE OPERATIONS

#### 1: Update a user's profile information

In [ ]:
#Update a user's profile information 


users_col.update_one(
    {"user_id": "U003"},
    {
        "$set": {
            "profile.bio": "Always learning. Always building.",
            "profile.avatar": "https://api.dicebear.com/6.x/thumbs/svg?seed=Nova",
            "profile.skills": ["Python", "MongoDB", "APIs"]
        }
    }
)

# Confirmation
user = users_col.find_one({"user_id": "U003"})
if user:
    print(" Updated Profile:")
    pp.pprint(user["profile"])
else:
    print(" User not found.")

 Updated Profile:
{'avatar': 'https://api.dicebear.com/6.x/thumbs/svg?seed=Nova',
 'bio': 'Always learning. Always building.',
 'skills': ['Python', 'MongoDB', 'APIs']}

#### 2: Mark a course as published

In [ ]:
#Mark a course as published 

courses_col.update_one(
    {"course_id": "C003"},
    {"$set": {"is_published": True}}
)

# Confirmation
course = courses_col.find_one({"course_id": "C701"})
if course:
    print(f" Course '{course['title']}' is now published.")
else:
    print(" Course not found.")

 Course 'Machine Learning Foundation' is now published.

#### 3: Update assignment grades

In [47]:
#Update assignment grades


submissions_col.update_one(
    {"submission_id": "S002"},
    {"$set": {"grade": 85}}
)

#Comfirmation
submission = submissions_col.find_one({"submission_id": "S002"})
if submission:
    print(f" Grade updated: {submission['grade']}")
else:
    print(" Submission not found.")

 Grade updated: 85

#### 4: Add tags to an existing course

In [48]:
#Add tags to existing course 

courses_col.update_one(
    {"course_id": "C004"},
    {"$addToSet": {
        "tags": {
            "$each": ["interview-prep", "lifetime-access"]
        }
    }}
)

#  Confirm
course = courses_col.find_one({"course_id": "C004"})
if course:
    print(f" Updated Tags for {course['title']}:")
    print(course["tags"])
else:
    print("Course not found.")

 Updated Tags for Kubernetes for Developers:
['includes-quizzes', 'easy-to-start', 'peer-network', 'interview-prep', 'lifetime-access']

#### TASK 3.4 : DELETE OPERATIONS

#### 1: Remove a user(soft deleting by setting isActive is false)

In [ ]:
#Remove a user (soft delete by setting is Active to false)


users_col.update_one(
    {"user_id": "U002"},
    {"$set": {"is_active": False}}
)

# Confirm
user = users_col.find_one({"user_id": "U002"})
if user:
    status = "Active" if user["is_active"] else "Inactive"
    print(f" User {user['user_id']} is now marked as: {status}")
else:
    print(" User not found.")

 User U002 is now marked as: Inactive